html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', 'Open Sans Condensed', Verdana, Helvetica, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: orange;
}

.social_logo {
  -webkit-filter: grayscale(1);
}
.social_logo:hover {
  -webkit-filter: grayscale(0);
}

#video_div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.iframe_div {
  /* optional */
  width: 100%;
  height: 100%;
}

#nav {
  position: fixed;
  color: #ffffff;
  width: 100%;
  background: #000000;
  height: 50px;
  z-index: 10;
  border-bottom: 1px solid #333;

}
#title {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 28px;
}
#social {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: right;
}
#social .social_logo {
  height: 28px;
  padding: 0 10px;
}

#links i {
  position: absolute;
  font-size: 32px;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
#links i:hover {
  color: orange;
}



@media all and (max-width: 500px) {
  #social {
    display: none;
    top: 50px;
    right: 0;
    background: #000000;
    padding: 20px;
    z-index: 10;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
  }
  #social a {
    display: block;
  }
  #social .social_logo {
    -webkit-filter: grayscale(0);
    margin-top: 10px;
    height: 40px;
  }
  #links {
    display: block;
  }
}
@media all and (min-width: 501px) {
  #social {
    display: block;
  }
  #links {
    display: none;
  }
}
