html, body {
  margin: 0;
  padding: 0;
  color: #ccc;
  background: #000000;
  font-family: arial, helvetica, sans serif;
}
img {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

#logo {
  height: 30px;
}

#group_photo {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#band_name {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  font-family: 'Arial Black', Arial;
  font-weight: 700;
  font-size: 120px;
  color: #666;
  text-align: center;
  width: 100%;
  z-index: 2;
  white-space: nowrap;
  line-height: 1.1em;
}
#band_name:hover {
  color: #ffffff;
}

#social_links {
  position: absolute;
  top: 5px;
  right: 10px;
  margin: 0;
  padding: 0;
  text-align: right;
  z-index: 3;

}
#members {
  display: flex;
  flex-direction: row;
  flex-flow: space-between;
  flex-wrap: wrap;
  text-align: top;
}

.member {
  text-align: top;
  font-family: verdana, arial;
  padding: 20px;
  margin: 10px;
  max-width: 400px;
  color: #aaa;
  background: #222;
}



.member_imgs {
  width: 160px;
  float: left;
  margin-right: 10px;
}

.member_img, .member_img_sm {
  padding: 0;
  margin: 0;
  float: left;
}
.member_img {
  width: 160px;
}
.member_img_sm {
  width: 80px;
}


.bio {
  text-align: top;
  display: inline-block;
  width: 400px;
}
.icon { 
  height: 24px;
  margin: 4px 4px;
}

h1 {
  text-transform: lowercase;
}
